<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Add Classroom </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> Name </label>
                        <input type="text" class="form-control" id="name" 
                            [(ngModel)]="classroom.name"
                            name="name">
                    </div>

                    <div class="form-group">
                        <label> Age Group</label>
                        <input type="text" class="form-control" id="ageGroup" 
                            [(ngModel)]="classroom.ageGroup"
                            name="ageGroup">
                    </div>


                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>