@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.whole-page {
    display: grid;
    grid-template-columns: 1fr 6fr;
    padding-top: 20px;
}

.sidebar {
    grid-column: 1;
    padding-left: 30px; 
}

.main-panel {
    grid-column: 2;

}

form {
    padding-top: 20px; 
    padding-bottom: 20px; 
}

.sidebar-btn {
    background-color: #f5c0b8 !important;
    border-color: #B75741 !important;
    width: 90%;
}

h3, h4 {
    font-family: 'Acme', sans-serif;
}

.btn-success {
    background-color: #51bfa6 !important;
    border-color: #184655 !important;
    color: black !important;
    width: 40%;
    float: left;
}

.btn-success:hover{
    background-color: #96d9c8 !important;
}

.btn-reset {
    background-color: #f7cc80 !important;
    border-color: black !important;
    color: black !important;
    width: 25%;
    float: right;
}

.btn-reset:hover {
    background-color: #fbe0b3 !important;
}


