<div>
    <div class="sidebar">

    </div>

<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <form (ngSubmit)="onSubmit()">
                <div class="name-date">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Name</span>
                        </div>
                        <input type="text" class="form-control" value="{{sheet.studentName}}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Date</span>
                        </div>
                        <input type="text" class="form-control" placeholder="todaysDate">
                    </div>
                </div>
                <div class="bottles"> Bottles
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Bottle 1</span>
                        </div>
                        <input type="text" class="form-control" placeholder="feedingTime">
                        <div class="input-group-prepend">
                            <span class="input-group-text">to</span>
                        </div>
                        <input type="text" class="form-control" placeholder="amt(oz)">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Bottle 2</span>
                        </div>
                        <input type="text" class="form-control" placeholder="feedingTime">
                        <div class="input-group-prepend">
                            <span class="input-group-text">to</span>
                        </div>
                        <input type="text" class="form-control" placeholder="amt(oz)">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Bottle 3</span>
                        </div>
                        <input type="text" class="form-control" placeholder="feedingTime">
                        <div class="input-group-prepend">
                            <span class="input-group-text">to</span>
                        </div>
                        <input type="text" class="form-control" placeholder="amt(oz)">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Bottle 4</span>
                        </div>
                        <input type="text" class="form-control" placeholder="feedingTime">
                        <div class="input-group-prepend">
                            <span class="input-group-text">to</span>
                        </div>
                        <input type="text" class="form-control" placeholder="amt(oz)">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Bottle 5</span>
                        </div>
                        <input type="text" class="form-control" placeholder="feedingTime">
                        <div class="input-group-prepend">
                            <span class="input-group-text">to</span>
                        </div>
                        <input type="text" class="form-control" placeholder="amt(oz)">
                    </div>
                </div>
                <div class="meals"> Meals
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Breakfast</span>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" >
                            <label class="form-check-label">All</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio">
                            <label class="form-check-label" >Some</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" >
                            <label class="form-check-label" >None</label>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Lunch</span>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" >
                            <label class="form-check-label">All</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio">
                            <label class="form-check-label" >Some</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" >
                            <label class="form-check-label" >None</label>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Snack</span>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" >
                            <label class="form-check-label">All</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio">
                            <label class="form-check-label" >Some</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" >
                            <label class="form-check-label" >None</label>
                        </div>
                    </div>
                </div>
                <div class="hygiene"> Diapers/Potty
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Diaper/Potty 1</span>
                        </div>
                        <input type="text" class="form-control" placeholder="time">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">Pee</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">BM</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">Tried</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">Accident</label>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Diaper/Potty 2</span>
                        </div>
                        <input type="text" class="form-control" placeholder="time">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">Pee</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">BM</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">Tried</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">Accident</label>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Diaper/Potty 3</span>
                        </div>
                        <input type="text" class="form-control" placeholder="time">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">Pee</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">BM</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">Tried</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">Accident</label>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Diaper/Potty 4</span>
                        </div>
                        <input type="text" class="form-control" placeholder="time">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">Pee</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">BM</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">Tried</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">Accident</label>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Diaper/Potty 5</span>
                        </div>
                        <input type="text" class="form-control" placeholder="time">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">Pee</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">BM</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">Tried</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">Accident</label>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Diaper/Potty 6</span>
                        </div>
                        <input type="text" class="form-control" placeholder="time">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">Pee</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">BM</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">Tried</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">Accident</label>
                        </div>
                    </div>

                </div>
                <div class="naps"> Naps
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Nap 1</span>
                        </div>
                        <input type="text" class="form-control" placeholder="napStart">
                        <div class="input-group-prepend">
                            <span class="input-group-text">to</span>
                        </div>
                        <input type="text" class="form-control" placeholder="napEnd">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Nap 2</span>
                        </div>
                        <input type="text" class="form-control" placeholder="napStart">
                        <div class="input-group-prepend">
                            <span class="input-group-text">to</span>
                        </div>
                        <input type="text" class="form-control" placeholder="napEnd">
                    </div>
                </div>
                <div class="activity-needs">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Activity</span>
                        </div>
                        <input type="text" class="form-control" placeholder="activity">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Needs</span>
                        </div>
                        <input type="text" class="form-control" placeholder="needs">
                    </div>
                </div><br>
                <button class="btn btn-success" type="submit">Save Changes</button>
            </form>
        </div>
    </div>
</div>
</div>


