<div class="whole-page">
    <div class="sidebar">
        <h4>Students: </h4>
        <div *ngFor="let sheet of sheets; index as i">
            <button routerLink="/student/update/{{sheet.id}}" (click)="sidebarClick()" class ="btn sidebar-btn" >
                {{sheet.studentName}}</button>
        </div>
    </div>

<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <form (ngSubmit)="onSubmit()">
                <button class="btn btn-success" type="submit" >Save Changes</button><br><br>
                <div class="name-date">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Name</span>
                        </div>
                        <input type="text" class="form-control" value={{sheet.studentName}} 
                            name="studentName" [(ngModel)]="sheet.studentName">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Date</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="todaysDate" value={{sheet.date}}
                            name="date" [(ngModel)]="sheet.date">
                    </div>
                </div>
                <div class="bottles"> Bottles
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Bottle 1</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="time" value={{sheet.feeding1Time}}
                            name="feeding1Time" [(ngModel)]="sheet.feeding1Time">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Amt(oz)</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="oz" value={{sheet.feeding1Amt}}
                            name="feeding1Amt" [(ngModel)]="sheet.feeding1Amt">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Bottle 2</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="time" value={{sheet.feeding2Time}}
                            name="feeding2Time" [(ngModel)]="sheet.feeding2Time">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Amt(oz)</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="oz" value={{sheet.feeding2Amt}}
                            name="feeding2Amt" [(ngModel)]="sheet.feeding2Amt">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Bottle 3</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="time" value={{sheet.feeding3Time}}
                            name="feeding3Time" [(ngModel)]="sheet.feeding3Time">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Amt(oz)</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="oz" value={{sheet.feeding3Amt}}
                            name="feeding3Amt" [(ngModel)]="sheet.feeding3Amt">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Bottle 4</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="time" value={{sheet.feeding4Time}}
                            name="feeding4Time" [(ngModel)]="sheet.feeding4Time">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Amt(oz)</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="oz" value={{sheet.feeding4Amt}}
                            name="feeding4Amt" [(ngModel)]="sheet.feeding4Amt">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Bottle 5</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="time" value={{sheet.feeding5Time}}
                            name="feeding5Time" [(ngModel)]="sheet.feeding5Time">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Amt(oz)</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="oz" value={{sheet.feeding5Amt}}
                            name="feeding5Amt" [(ngModel)]="sheet.feeding5Amt">
                    </div>
                </div>
                <div class="meals"> Meals
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Breakfast</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="breakfastAmt" value={{sheet.breakfastAmt}}
                            name="breakfastAmt" [(ngModel)]="sheet.breakfastAmt">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Lunch</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="lunchAmt" value={{sheet.lunchAmt}}
                            name="lunchAmt" [(ngModel)]="sheet.lunchAmt">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Snack</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="snackAmt" value={{sheet.snackAmt}}
                            name="snackAmt" [(ngModel)]="sheet.snackAmt">
                    </div>
                </div>
                <div class="hygiene"> Diapers/Potty
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Time</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="time" value={{sheet.potty1Time}}
                            name="potty1Time" [(ngModel)]="sheet.potty1Time">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Descr</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="Pee/BM/Dry/Tried/Accident" value={{sheet.potty1Description}}
                            name="potty1Description" [(ngModel)]="sheet.potty1Description">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Time</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="time" value={{sheet.potty1Time}}
                            name="potty1Time" [(ngModel)]="sheet.potty1Time">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Descr</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="Pee/BM/Dry/Tried/Accident" value={{sheet.potty1Description}}
                            name="potty1Description" [(ngModel)]="sheet.potty1Description">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Time</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="time" value={{sheet.potty2Time}}
                            name="potty2Time" [(ngModel)]="sheet.potty2Time">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Descr</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="Pee/BM/Dry/Tried/Accident" value={{sheet.potty2Description}}
                            name="potty2Description" [(ngModel)]="sheet.potty2Description">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Time</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="time" value={{sheet.potty3Time}}
                            name="potty3Time" [(ngModel)]="sheet.potty3Time">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Descr</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="Pee/BM/Dry/Tried/Accident" value={{sheet.potty3Description}}
                            name="potty3Description" [(ngModel)]="sheet.potty3Description">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Time</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="time" value={{sheet.potty4Time}}
                            name="potty4Time" [(ngModel)]="sheet.potty4Time">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Descr</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="Pee/BM/Dry/Tried/Accident" value={{sheet.potty4Description}}
                            name="potty4Description" [(ngModel)]="sheet.potty4Description">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Time</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="time" value={{sheet.potty5Time}}
                            name="potty5Time" [(ngModel)]="sheet.potty5Time">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Descr</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="Pee/BM/Dry/Tried/Accident" value={{sheet.potty5Description}}
                            name="potty5Description" [(ngModel)]="sheet.potty5Description">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Time</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="time" value={{sheet.potty6Time}}
                            name="potty6Time" [(ngModel)]="sheet.potty6Time">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Descr</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="Pee/BM/Dry/Tried/Accident" value={{sheet.potty6Description}}
                            name="potty6Description" [(ngModel)]="sheet.potty6Description">
                    </div>
                </div>
                <div class="naps"> Naps
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Nap 1</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="startTime" value={{sheet.nap1Start}}
                            name="nap1Start" [(ngModel)]="sheet.nap1Start">
                        <div class="input-group-prepend">
                            <span class="input-group-text">to</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="endTime" value={{sheet.nap1End}}
                            name="nap1End" [(ngModel)]="sheet.nap1End">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Nap 2</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="startTime" value={{sheet.nap2Start}}
                            name="nap2Start" [(ngModel)]="sheet.nap2Start">
                        <div class="input-group-prepend">
                            <span class="input-group-text">to</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="endTime" value={{sheet.nap2End}}
                            name="nap2End" [(ngModel)]="sheet.nap2End">
                    </div>
                </div>
                <div class="activity-needs">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Activity</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="activity" value={{sheet.activity}}
                            name="activity" [(ngModel)]="sheet.activity">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Needs</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="needs" value={{sheet.needs}}
                            name="needs" [(ngModel)]="sheet.needs">
                    </div>
                </div><br>
                <button class="btn btn-success" type="submit" >Save Changes</button>
            </form>
        </div>
    </div>
</div>
</div>


