<p>list of students for parent</p>

<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Student's Daily Sheets </h3>
            <hr />
            <div class="card-body">
                <button routerLink="/student/1" class ="btn btn-primary">
                    Student1</button><br><br>
                
                <button routerLink="/student/2" class ="btn btn-primary">
                    Student2</button>
                
            </div>
        </div>
    </div>
</div>


