<div class="nav-container">
<nav class="navbar navbar-expand-sm navbar-light">
  <a class="navbar-brand" routerLink="/" > Little Yomso </a>

  <div >
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/student">PARENT</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/classroom">TEACHER</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/admin">ADMIN</a>
      </li>


    </ul>
  </div>
</nav>
</div>

<div *ngIf="router.url==='/'">
  <div class="hero-img"></div>
  <a class="img-attribute" href="https://www.freepik.com/vectors/school">
    School vector created by pch.vector - www.freepik.com</a>
</div>

<router-outlet></router-outlet>