<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Admin Access </h3>
            <hr />
            <div class="card-body">
                <button routerLink="/admin/student" class ="btn btn-primary">
                    Students </button><br><br>
                
                <button routerLink="/admin/classroom" class ="btn btn-primary">
                    Classrooms </button>
            </div>
        </div>
    </div>
</div>


