<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Classrooms </h3>
            <hr />
            <div class="card-body">
                <button routerLink="/classroom/1" class ="btn btn-primary">
                    Classroom1</button><br><br>
                
                    <button routerLink="/classroom/2" class ="btn btn-primary">
                    Classroom2</button>
            </div>
        </div>
    </div>
</div>