<div class="wrapper">
    <div class="sidebar">

    </div>

    <div class="main-panel">
        <div class="card-columns">

            <div class="card name-date col-md-6 offset-md-3 offset-md-3">
                <div class="card-header sheet-header">Daily Sheet For: 

                </div>
                <div class="card-body"></div>
            </div>

            <div class="card food col-md-6 offset-md-3 offset-md-3">
                <div class="card-header">Food

                </div>
                <div class="card-body"></div>
            </div>

            <div class="card hygiene col-md-6 offset-md-3 offset-md-3">
                <div class="card-header">Hygiene

                </div>
                <div class="card-body"></div>
            </div>

            <div class="card sleep col-md-6 offset-md-3 offset-md-3">
                <div class="card-header">Naps

                </div>
                <div class="card-body"></div>
            </div>

            <div class="card activity col-md-6 offset-md-3 offset-md-3">
                <div class="card-header">Activity 

                </div>
                <div class="card-body"></div>
            </div>

            <div class=" card needs col-md-6 offset-md-3 offset-md-3"> 
                <div class="card-header">Needs 

                </div>
                <div class="card-body"></div>
            </div>
        </div>


        <h3 class="header"> View Student's Daily Sheet</h3>
        <div>
            <div>
                <label> <b> Name: </b></label> {{sheet.name}}
            </div>
            <div>
                <label> <b> Date: </b></label> {{sheet.date}}
            </div>
        </div>
    </div>

</div>

