<div class="wrapper">
    <div class="sidebar">

    </div>

    <div class="main-panel">
        <h3 class="main-panel-header">DAILY SHEET</h3>
        <div class="card-columns">
            <div class="card-group name-date col-md-6 offset-md-3 offset-md-3">
                <div class="card">
                    <div class="card-header">Name: </div>
                    <div class=card-body>{{sheet.studentName}}</div>
                </div>
                <div class="card">
                    <div class="card-header">Date: </div>
                    <div class=card-body>{{sheet.date}}</div>
                </div>
            </div>

            <div class="card food col-md-6 offset-md-3 offset-md-3">
                <div class="card-header">Food
                </div>
                <div class="card-body">
                    <table class="food-table">
                        <tr>
                            <td class="text-center">Bottles</td>
                            <td>
                                <table class="bottles-table">
                                    <tr>
                                        <td>Time</td>
                                        <td>{{sheet.feeding1Time}}</td>
                                        <td>{{sheet.feeding2Time}}</td>
                                        <td>{{sheet.feeding3Time}}</td>
                                        <td>{{sheet.feeding4Time}}</td>
                                        <td>{{sheet.feeding5Time}}</td>
                                    </tr>
                                        <td>Amt(oz)</td>
                                        <td>{{sheet.feeding1Amt}}</td>
                                        <td>{{sheet.feeding2Amt}}</td>
                                        <td>{{sheet.feeding3Amt}}</td>
                                        <td>{{sheet.feeding4Amt}}</td>
                                        <td>{{sheet.feeding5Amt}}</td>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">Meals</td>
                            <td>
                                <table class="meals-table">
                                    <tr>
                                        <td class="meal-desc">Breakfast</td>
                                        <td>{{sheet.breakfastAmt}}</td>
                                    </tr>
                                    <tr>
                                        <td class="meal-desc">Lunch</td>
                                        <td>{{sheet.lunchAmt}}</td>
                                    </tr>
                                    <tr>
                                        <td class="meal-desc">Snack</td>
                                        <td>{{sheet.snackAmt}}</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="card hygiene col-md-6 offset-md-3 offset-md-3">
                <div class="card-header">Hygiene
                </div>
                <div class="card-body">
                    <table class="hygiene-table">
                        <tr class="hygiene-header">
                            <td class="hygiene-time text-center">Time</td>
                            <td class="text-center">Description</td>
                        </tr>
                        <tr>
                            <td class="hygiene-time">{{sheet.potty1Time}}</td>
                            <td>{{sheet.potty1Description}}</td>
                        </tr>
                        <tr>
                            <td class="hygiene-time">{{sheet.potty2Time}}</td>
                            <td>{{sheet.potty2Description}}</td>
                        </tr>
                        <tr>
                            <td class="hygiene-time">{{sheet.potty3Time}}</td>
                            <td>{{sheet.potty3Description}}</td>
                        </tr>
                        <tr>
                            <td class="hygiene-time">{{sheet.potty4Time}}</td>
                            <td>{{sheet.potty4Description}}</td>
                        </tr>
                        <tr>
                            <td class="hygiene-time">{{sheet.potty5Time}}</td>
                            <td>{{sheet.potty5Description}}</td>
                        </tr>
                        <tr>
                            <td class="hygiene-time">{{sheet.potty6Time}}</td>
                            <td>{{sheet.potty6Description}}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="card sleep col-md-6 offset-md-3 offset-md-3">
                <div class="card-header">Naps
                </div>
                <div class="card-body">
                    <table class="nap-table">
                       <tr>
                            <td class="nap-header text-center">Nap 1</td>
                            <td>{{sheet.nap1Start}}</td>
                            <td>To</td>
                            <td>{{sheet.nap1End}}</td>
                       </tr>
                       <tr>
                            <td class="nap-header text-center">Nap 2</td>
                            <td>{{sheet.nap2Start}}</td>
                            <td>To</td>
                            <td>{{sheet.nap2End}}</td>
                       </tr>
                    </table>
                </div>
            </div>

            <div class="card-group activity-needs col-md-6 offset-md-3 offset-md-3">
                <div class="card">
                    <div class="card-header">Activity </div>
                    <div class=card-body>{{sheet.activity}}</div>
                </div>

                <div class="card">
                    <div class="card-header">Needs </div>
                    <div class=card-body>{{sheet.needs}}</div>
                </div>
            </div>


        </div>
    </div>

</div>

