@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.main-panel {
    padding-top: 16px; 
    padding-bottom: 20px;
}

.main-panel-header {
    font-family: 'Acme', sans-serif;
    text-align: center;
}

.card-header {
    font-family: 'Acme', sans-serif;
    font-size: 20px;
}

.sheet-header {
    font-size: 24px; 
}

.card-body {
    font-family: 'Roboto', sans-serif;
}

table, td {
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
}

.food-table, .nap-table, .hygiene-table {
    width: 100%;
}

.bottles-table, .meals-table {
    width: 100%;
}

.hygiene-time, .meal-desc {
    width: 25%;
}

.hygiene-header {
    font-weight: bold;
}

.nap-header {
    width: 15%;
    font-weight: bold;
}