<div class="wrapper">
    <div class="sidebar">

    </div>

    <div class="main-panel">
        <h3 class="main-panel-header">DAILY SHEET</h3>
        <div class="card-columns">
            <div class="card-group name-date col-md-6 offset-md-3 offset-md-3">
                <div class="card">
                    <div class="card-header">Name: </div>
                    <div class=card-body></div>
                </div>
                <div class="card">
                    <div class="card-header">Date: </div>
                    <div class=card-body></div>
                </div>
            </div>

            <div class="card food col-md-6 offset-md-3 offset-md-3">
                <div class="card-header">Food
                </div>
                <div class="card-body">
                    <table class="food-table">
                        <tr>
                            <td class="text-center">Bottles</td>
                            <td>
                                <table class="bottles-table">
                                    <tr>
                                        <td>Time</td>
                                        <td>8:00</td>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>2:00</td>
                                        <td>4:00</td>
                                    </tr>
                                        <td>Amt(oz)</td>
                                        <td>5</td>
                                        <td>4</td>
                                        <td>6</td>
                                        <td>3</td>
                                        <td>5</td>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">Meals</td>
                            <td>
                                <table class="meals-table">
                                    <tr>
                                        <td class="meal-desc">Breakfast</td>
                                        <td>All</td>
                                    </tr>
                                    <tr>
                                        <td class="meal-desc">Lunch</td>
                                        <td>Some</td>
                                    </tr>
                                    <tr>
                                        <td class="meal-desc">Snack</td>
                                        <td>All</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="card hygiene col-md-6 offset-md-3 offset-md-3">
                <div class="card-header">Hygiene
                </div>
                <div class="card-body">
                    <table class="hygiene-table">
                        <tr class="hygiene-header">
                            <td class="hygiene-time text-center">Time</td>
                            <td class="text-center">Description</td>
                        </tr>
                        <tr>
                            <td class="hygiene-time">8:30</td>
                            <td>Pee</td>
                        </tr>
                        <tr>
                            <td class="hygiene-time"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="hygiene-time"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="hygiene-time"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="hygiene-time"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="hygiene-time"></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="card sleep col-md-6 offset-md-3 offset-md-3">
                <div class="card-header">Naps
                </div>
                <div class="card-body">
                    <table class="nap-table">
                       <tr>
                            <td class="nap-header text-center">Nap 1</td>
                            <td>Start</td>
                            <td>10:00</td>
                            <td>End</td>
                            <td>12:00</td>
                       </tr>
                       <tr>
                            <td class="nap-header text-center">Nap 2</td>
                            <td>Start</td>
                            <td>2:00</td>
                            <td>End</td>
                            <td>4:00</td>
                       </tr>
                    </table>
                </div>
            </div>

            <div class="card-group activity-needs col-md-6 offset-md-3 offset-md-3">
                <div class="card">
                    <div class="card-header">Activity </div>
                    <div class=card-body></div>
                </div>

                <div class="card">
                    <div class="card-header">Needs </div>
                    <div class=card-body></div>
                </div>
            </div>


        </div>
    </div>

</div>

