@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.main-panel {
    padding-top: 16px; 
    padding-bottom: 20px;
}

.main-panel-header {
    font-family: 'Acme', sans-serif;
    text-align: center;
}

.card-header {
    font-family: 'Acme', sans-serif;
    font-size: 20px;
}

.sheet-header {
    font-size: 24px; 
}

.card-body {
    font-family: 'Roboto', sans-serif;
}

table, td {
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
}

.food-table, .nap-table, .hygiene-table {
    width: 100%;
}

.bottles-table, .meals-table {
    width: 100%;
}

.hygiene-time, .meal-desc {
    width: 25%;
}

.hygiene-header {
    font-weight: bold;
}

.nap-header {
    width: 15%;
    font-weight: bold;
}

.name-header {
    background-color: #F5c0b8!important;
}

.date-header {
    background-color: #96D9c8!important;
}

.food-header {
    background-color: #fbe0b3!important;
}

.hygiene-header {
    background-color: #9cc1f8!important;
}

.naps-header {
    background-color: #F5c0b8!important;
}

.activity-header {
    background-color: #96D9c8!important;
}

.needs-header {
    background-color: #fbe0b3!important;
}