<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Delete Student </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div> 
                        <h4> Press submit to confirm deletion of this student.</h4>
                    </div>

                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>
                    <button class="btn btn-cancel" type="cancel" (click)="goToAdminStudentList()">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
