<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Classroom Name </h3>
            <hr />
            <div class="card-body">
                <button routerLink="/classroom/1/student/1" class ="btn btn-primary">
                    Student1</button><br><br>
                <button routerLink="/classroom/1/student/2" class ="btn btn-primary">
                    Student2</button><br><br>

            </div>
        </div>
    </div>
</div>


